<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style="
    margin: 0;
">
  <div style="width: 100%;background: #e9ecef;font-family: 'Open Sans';display: block;padding: 50px 0;">
    <div
      style="background: hsla(0, 0%, 100%, 1);width: 75%;margin-left: auto;margin-right: auto;padding: 80px 40px;border-radius: 7px;position: relative;">
      <div style="height: 100px;width: 100px;overflow: hidden;border: #e9ecef;margin-left: auto;margin-right: auto;">
        <img src="<%= logoPath %>" alt="logo" style="
    height: 100%;
    width: 100%;
">
      </div>
      <h2 style="font-size: 20px; color: #95989b;">Hi <%= username %></h2>
      <p style="font-size: 17px;color: #b6bbc0;">We've just received the request of recovering your credentials. If you did not know this action, ignore this email instead</p>
      <p style="font-size: 17px;color: #b6bbc0;">Click on the button below to go to your reset password page</p>

      <a href="<%= verificationLink %>"
        style="display: block;width: 110px;height: 36px;padding: 5px;margin-top: 0;margin: auto;background-color: hsla(36, 124%, 69%, 1);align-content: center;text-align: center;text-decoration: none;font-family: 'Open Sans';font-size: 19px;font-weight: 600;border-radius: 7px;color: #fff;line-height: 40px;">Reset</a>
    </div>
    <div></div>
  </div>
</body>

</html>